.videoBlock{
  video{
  margin-bottom: 20px;
  }
  .videoBlock__title{
    margin-bottom: 10px;
    font-size: 20px;
    color: green;
    font-weight: 600;
    &:hover{
      background-color: green;
      color: white;
    }
  }
  .videoBlock__views{
    color: green;
  }
}